.story_selector_container {
  font-family: "Volkart_Bold";
  color: var(--l2b-dark-grey);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50px;
  background-color: var(--l2b-white-full);
}

.story_selector_container h1 {
  font-size: 28px;
}

.story_selector_container .story_item {
  padding-top: 15px;
}

.story_selector_container .story_item:hover {
  cursor: pointer;
}

.story_selector_container .story_item .story_title {
  font-size: 20px;
  font-family: "Volkart_Medium";
  color: var(--l2b-dark-grey);

  background: url("../../assets/img/content_open_book_icon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 40px;
  background-position: 0% 3px;
  max-width: 300px;
  background-position-y: center;
}

.story_selector_container .story_item .story_update_info {
  font-family: "Volkart_Italic";
  font-size: 12px;
  color: var(--l2b-light-grey);
}

.story_selector_container .story_item .story_pages_number {
  font-family: "Volkart_Light";
  font-size: 18px;

  right: 100px;
  position: absolute;
  margin-top: -36px;
  font-weight: normal;
  left: 350px;
}

/*MOBILE*/
@media only screen and (max-width: 600px) {
  .story_selector_container {
    left: 40px;
    width: 100%;
  }

  .story_selector_container > h1 {
    width: 70%;
    font-size: 24px;
  }

  .story_selector_container .story_item .story_title {
    font-size: 18px;
    background-size: 30px;
    padding-left: 50px;
    max-width: 250px;
    background-position-y: center;
  }

  .story_selector_container .story_item .story_pages_number {
    left: 250px;
  }
}
