.right_content_container .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .right_content_container {
    padding-top: 15px;
  }

  .right_content_container_show{
    width: 100% !important;
  }

  .right_content_receiver {
    padding: 30px 30px 10px 30px;
  }
}