.pagination_footer_container {
  width: 100%;
  height: auto;
  background-color: var(--l2b-transparent);
  bottom: 10;
  text-align: right;
}

.pagination_previous_page {
  float: right;
  height: 20px;
  width: 40px;
  background: url("../../assets/img/content_previous_page_arrow.png");
  background-position: right;
  background-repeat: no-repeat;
}

.pagination_counter_text {
  float: right;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination_next_page {
  float: right;
  height: 20px;
  width: 40px;
  background: url("../../assets/img/content_next_page_arrow.png");
  background-position: left;
  background-repeat: no-repeat;
}

.pagination_disabled_button {
  pointer-events: none;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  .pagination_footer_container {
    margin-right: 30px;
    width: 90%;
  }
}