.gallery_map_container_mobile {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--l2b-transparent);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.gallery_map_content_mobile {
  position: fixed;
  bottom: 0;
  height: 100%;
  background-color: var(--l2b-white-full);
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-radius: 10px 10px 0px 0px;
  overflow: auto;
  margin-top: 150px;
}

.gallery_map_content_mobile::-webkit-scrollbar-track {
  background-color: var(--l2b-white);
}

.gallery_map_content_mobile::-webkit-scrollbar {
  width: 6px;
  background: var(--l2b-white);
}

.gallery_map_content_mobile::-webkit-scrollbar-thumb {
  background: var(--l2b-light-grey);
}

.gallery_map_header_mobile {
  padding: 2px 16px;
  background-color: var(--l2b-map-header-mobile);
  color: var(--l2b--white);
  height: 130px;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 5;
}


.close_gallery_map_container_mobile {
  font-family: "Volkart_Light";
  color: var(--l2b-dark-grey);
  float: right;
  font-size: 60px;
  position: absolute;
  top: 10px;
  right: 43px;
}

.close_gallery_map_container_mobile:hover,
.close_gallery_map_container_mobile:focus {
  color: var(--l2b-black);
  text-decoration: none;
  cursor: pointer;
}

.gallery_map_container_mobile_room_name {
  margin-top: 30px;
  padding: 30px;
  padding-left: 10px;
  color: var(--l2b-dark-grey);
}


.gallery_map_receiver_mobile {
  margin-top: 100px;
  padding: 20px;
}