.loading_screen_container {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hide;
  background-color: var(--l2b-white-full);
}

.loading_screen_container .loading_screen_content {
  margin: auto;
  padding: 25px;
  width: 90%;
  max-width: 400px;
  min-height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
}

.loading_screen_container .loading_screen_content .loading_letter {
  font-family: "Volkart_Medium";
  display: block;
  padding: 3px;
  text-align: center;
  background: var(--l2b-transparent);
  text-decoration: none;
  margin: 20px 0px;
  font-size: 60px;
}

.loading_screen_container .loading_screen_content .loading_percentage_text {
  font-family: "Volkart_Light";
  text-decoration: none;
  color: var(--l2b-light-grey);
  font-size: 50px;
  padding: 3px;
  margin: 20px 10px;
  float: left;
  text-align: center;
}

.loading_screen_container .loading_screen_content .pulse_animation {
  animation-name: pulse_animation;
  animation-duration: 3300ms;
  transform-origin: 50% 75%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  float: left;
}

.loading_screen_container .loading_screen_content .pulse_animation:nth-child(2) {
  animation-delay: 1100ms;
}

.loading_screen_container .loading_screen_content .pulse_animation:nth-child(3) {
  animation-delay: 2200ms;
}


